 #navbar ul{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: lightgrey;
    
    
}
#brand{
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}
li{
    float:right;
    
}
#navbar input[type=text]{
    float:right;
    
}


  li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding:  10px;
    text-decoration: none;
  }
#flex-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    border: 2px;
    border-style: solid;
    

}
#car1{
    height: 500;
    width: 500;
    padding:50px
}
#car2{
    height: 500;
    width: 500;
    padding:50px
}
#car3{
    height: 500;
    width: 500;
    padding:50px
}
#financial-blog{
    display:flex;
    flex-direction:row;
    justify-content: center;
    border: 2px;
    border-style: solid;
    
    
    
}
#financial{
    background-color: grey;
    text-align: center;
    width:100%
}
#blog{
    text-align: center;
    background-color: lightblue;
    width: 100%;
    padding: 5px;
}
#about-us {
    display: inline-block;
    width: 50%;
}
#about-us li{
    color: blue ;
    padding: 5px;
    list-style-type: none;
    float: left;
    clear: left;

    
}
#contact-us{
    display: inline-block;
}
#contact-us h3{
    text-align: right;
}

#contact-us li{
    color: green ;
    padding: 5px;
    list-style-type: none;
    float: center;
    clear: right;
}
#blog-button{
    border:none;
    padding: 5px;
}
#financial-button{
    border:none;
    padding: 5px;
    
}


